
.reveal a:not(.image) {
  line-height: 1.3em; }

body {
  background: white;
  font-family: 'lato';
}

.reveal {
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #333333; }

::selection {
  color: white;
  background: #134674;
  text-shadow: none; }

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  font-family: "Quicksand", sans-serif;
  line-height: 0.9em;
  letter-spacing: -0.08em;
  text-shadow: none; }

.reveal h1 {
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.4);
  color: white;
}

.reveal h1,
.reveal h2{
  text-transform: uppercase;
}

.reveal a:not(.image) {
  color: #4393fa;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #e23328;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #264c66; }

/*********************************************
 * IMAGES
 *********************************************/

.reveal a:hover img {
  opacity: 1; }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #3b759e; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #3b759e; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #3b759e; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #3b759e; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #74a7cb; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #74a7cb; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #74a7cb; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #74a7cb; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #3b759e;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #3b759e; }
